* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 60%;
  position: absolute;
  top: -10px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.navbar__list__item {
  list-style-type: none;
}
.navbar__list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 0;
}
.navbar__list__link:hover {
  color: #e27900;
}
.navbar__list__link--active {
  color: #e27900;
}
.navbar .logo img {
  height: 150px;
  background-color: #e27900;
  border-radius: 0px 0px 25px 25px;
}

main {
  flex-grow: 1;
  margin-top: 120px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efe6da;
  padding: 50px 50px 0px 50px;
  height: 200px;
}

.footer-infos {
  width: 85%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 20px;
  padding: 10px;
}
.footer-infos__headings {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
}
.footer-infos__headings::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 95%;
  background-color: #CCC;
}

.footer-copyright {
  height: 50px;
  width: 100vw;
  border-top: 1px solid #CCC;
  padding-top: 10px;
}
.footer-copyright p {
  text-align: center;
}

.main-hero__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b6970;
  border: 2px solid white;
}
.main-hero__heading {
  font-size: 50px;
  color: #FFF;
}
.main-hero__intro {
  text-align: center;
  font-size: 30px;
}
.main-hero__slider {
  width: 100vw;
  overflow: hidden;
}
.main-hero__slides {
  display: flex;
  width: 400vw;
  animation: hero-moves 30s infinite;
}
.main-hero__slides__slide {
  width: 100vw;
  height: 100vh;
  background-color: #2b6970;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-hero__slides__slide:nth-child(1) {
  background-image: url(../images/image-accueil-hero-1.jpg);
}
.main-hero__slides__slide:nth-child(2) {
  background-image: url(../images/image-accueil-hero-2.jpg);
}
.main-hero__slides__slide:nth-child(3) {
  background-image: url(../images/image-accueil-hero-3.jpg);
}
.main-hero__slides__slide:nth-child(4) {
  background-image: url(../images/image-accueil-hero-1.jpg);
}

@keyframes hero-moves {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  63% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  96% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}

/*# sourceMappingURL=style.css.map */
