/* HTML
<button class="plus-button"><img src="images/plus.png" alt="Icone plus"></button>
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #FFF;
}

/* HTML
<button class="plus-button"><img src="images/plus.png" alt="Icone plus"></button>
*/
.plus-button {
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  transition: all 1s;
  position: absolute;
}
.plus-button:focus {
  transform: scale(4);
}
.plus-button:focus .plus-button__circle {
  height: 96%;
  width: 96%;
}
.plus-button:focus::before {
  animation: pulse none;
  display: none;
}
.plus-button:focus .plus-button__circle__img {
  display: none;
}
.plus-button__circle {
  content: "";
  height: 83%;
  width: 83%;
  border-radius: 50%;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-button__circle__img {
  height: 30px;
  width: 30px;
}
.plus-button::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s infinite;
}
.plus-button:nth-child(1) {
  top: 20%;
  left: 10%;
}
.plus-button:nth-child(1)::before {
  animation-delay: 1s;
}
.plus-button:nth-child(2) {
  top: 60%;
  left: 25%;
}
.plus-button:nth-child(2)::before {
  animation-delay: 2.2s;
}
.plus-button:nth-child(3) {
  top: 50%;
  left: 50%;
}
.plus-button:nth-child(3)::before {
  animation-delay: 3.2s;
}
.plus-button:nth-child(4) {
  top: 55%;
  left: 80%;
}
.plus-button:nth-child(4)::before {
  animation-delay: 4.5s;
}
.plus-button:nth-child(5) {
  top: 20%;
  left: 68%;
}
.plus-button:nth-child(5)::before {
  animation-delay: 5.5s;
}
.plus-button:nth-child(6) {
  top: 30%;
  left: 35%;
}
.plus-button:nth-child(6)::before {
  animation-delay: 6s;
}

@keyframes pulse {
  from {
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  to {
    height: 200%;
    width: 200%;
    opacity: 0;
  }
}
header {
  background-color: #000;
  box-shadow: 0 4px 25px -10px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 60%;
  position: absolute;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.navbar__list__item {
  list-style-type: none;
}
.navbar__list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 0;
}
.navbar__list__link:hover {
  color: #2b7064;
}
.navbar__list__link--active {
  color: #2b7064;
}
.navbar .logo img {
  height: 150px;
  background-color: #FFF;
  border-radius: 0px 0px 25px 25px;
  margin-top: 34px;
  box-shadow: 0 4px 25px -10px #000;
}
.navbar__change-language {
  position: absolute;
  right: 2%;
  top: 30px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11%;
  font-style: italic;
}
.navbar__change-language a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.navbar__change-language a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #2b7064;
  transition: 0.3s;
}
.navbar__change-language a:hover {
  color: #2b7064;
}
.navbar__change-language a:hover::after {
  width: 100%;
}
.navbar__change-language span {
  pointer-events: none;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efe6da;
  padding: 50px 50px 0px 50px;
  height: fit-content;
}

.footer-infos {
  width: 85%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 20px;
  padding: 10px;
}
.footer-infos__item__heading {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.footer-infos__item__heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 95%;
  background-color: #CCC;
}
.footer-infos__item__div {
  display: flex;
  align-items: center;
}
.footer-infos__item__AboutUs-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.footer-copyright {
  height: 50px;
  width: 100vw;
  border-top: 1px solid #CCC;
  padding-top: 15px;
}
.footer-copyright p {
  text-align: center;
}

::-webkit-scrollbar {
  position: fixed;
  background-color: #2b7064;
  width: 5px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  position: fixed;
  background-color: #000;
  margin: 10px;
  border-radius: 20px;
}

.index-main {
  margin-top: 120px;
}

.main-hero__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}
.main-hero__heading {
  font-size: 50px;
  color: #FFF;
}
.main-hero__intro {
  text-align: center;
  font-size: 30px;
}
.main-hero__slider {
  width: 100vw;
  overflow: hidden;
}
.main-hero__slides {
  display: flex;
  width: 400vw;
  animation: hero-moves 15s infinite;
}
.main-hero__slides__slide {
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-hero__slides__slide:nth-child(1) {
  background-image: url(../images/image-accueil-hero-1.jpg);
}
.main-hero__slides__slide:nth-child(2) {
  background-image: url(../images/image-accueil-hero-2.jpg);
}
.main-hero__slides__slide:nth-child(3) {
  background-image: url(../images/image-accueil-hero-3.jpg);
}
.main-hero__slides__slide:nth-child(4) {
  background-image: url(../images/image-accueil-hero-1.jpg);
}

.main-body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-body__section-one {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 400px;
}
.main-body__section-one__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-family: "Inter", sans-serif;
}
.main-body__section-one__text__heading {
  position: relative;
  text-align: center;
}
.main-body__section-one__text__heading::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 10px;
  height: 1px;
  width: 40%;
  box-shadow: 150px 0 0px #000;
  background-color: #000;
}
.main-body__section-one__text__heading::before {
  content: "";
  position: absolute;
  top: 118%;
  left: 140px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #000;
}
.main-body__section-one__text__desc {
  margin-top: 50px;
  padding: 0 50px;
  text-align: center;
  font-size: 16px;
}
.main-body__section-one__image {
  position: relative;
  background-image: url(../images/mr-shaker-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.main-body__section-one__image div {
  position: absolute;
  border: 8px solid #ffe9ae;
  border-radius: 5px;
}
.main-body__section-one__image__one {
  height: 200px;
  width: 300px;
  top: 5%;
  transform: rotate(-10deg);
  background-image: url(../images/image-accueil-intro-1.jpg);
  filter: grayscale(70%);
  background-size: cover;
  box-shadow: -5px 4px 25px -10px #000;
}
.main-body__section-one__image__two {
  height: 200px;
  width: 300px;
  top: 50%;
  transform: rotate(10deg) translateX(40px);
  background-image: url(../images/image-accueil-intro-2.jpg);
  background-color: #F1F1F1;
  background-size: cover;
  z-index: 100;
  box-shadow: -5px 4px 25px -10px #000;
}
.main-body__section-two {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(../images/image-accueil-section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-body__section-three {
  height: 400px;
  width: 100%;
}
.main-body__section-four {
  height: 400px;
  width: 100%;
  background-color: #000;
}
.main-body__section-five {
  height: 400px;
  width: 100%;
}

@keyframes hero-moves {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  63% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  96% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}

/*# sourceMappingURL=style.css.map */
