/* HTML
<button class="plus-button"><img src="images/plus.png" alt="Icone plus"></button>
*/

.plus-button{
    @include plus-button();
    position: absolute;
        &:nth-child(1){
            top: 20%;
            left: 10%;
            &::before{
                animation-delay: 1s;
            }
        }

        &:nth-child(2){
            top: 60%;
            left:25%;
            &::before{
                animation-delay: 2.2s;
            }
        }

        &:nth-child(3){
            top: 50%;
            left: 50%;
            &::before{
                animation-delay: 3.2s;
            }
        }

        &:nth-child(4){
            top: 55%;
            left: 80%;
            &::before{
                animation-delay: 4.5s;
            }
        }

        &:nth-child(5){
            top: 20%;
            left: 68%;
            &::before{
                animation-delay: 5.5s;
            }
        }

        &:nth-child(6){
            top: 30%;
            left: 35%;
            &::before{
                animation-delay: 6s;
            }
        }
}




// ANIMATIONS
@keyframes pulse {
    from{
        height: 100%;
        width: 100%;
        opacity: 0.7;
    }to{
        height: 200%;
        width: 200%;
        opacity: 0;
    }
}