/* HTML
<button class="plus-button"><img src="images/plus.png" alt="Icone plus"></button>
*/

.plus-button{
    @include plus-button($backColor: $color-primary);
    position: absolute;
    top: 0;
}




// ANIMATIONS
@keyframes pulse {
    from{
        height: 100%;
        width: 100%;
        opacity: 1;
    }to{
        height: 200%;
        width: 200%;
        opacity: 0;
    }
}