/* HTML
<button class="plus-button"><img src="images/plus.png" alt="Icone plus"></button>
*/
@mixin plus-button(){
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    transition: all 1s;
        &:focus{
            transform: scale(4);
        }

        &:focus &__circle{
            height: 96%;
            width: 96%;
        }

        &:focus::before{
            animation: pulse none;
            display: none;
        }

        &:focus &__circle__img{
            display: none;
        }

        &__circle{
            content: '';
            height: 83%;
            width: 83%;
            border-radius: 50%;
            border: 1px solid $pure-white;
            display: flex;
            justify-content: center;
            align-items: center;
                &__img{
                    height: 30px;
                    width: 30px;
                }
        }

        &::before{
            content: '';
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 5px solid $pure-white;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: pulse 1.5s infinite;
        }

        
}

@mixin header-box-shadow($color: $pure-black){
    box-shadow: 0 4px 25px -10px $color;
}

@mixin image-box-shadow($color: $pure-black){
    box-shadow: -5px 4px 25px -10px $color;
}