$pure-black: #000;
$pure-white: #FFF;
$color-primary: #2b7064;
$footer-color: #efe6da;
$footer-color-2: #CCC;
$background-image-replace: #2b7064;
$logo-color: #FFF;
$body-color: #FFF;
$button-color-1: #2b7064;
$button-color-2: #5C651B;
$button-color-3: #A6925F;
$button-color-4: #6CA486;
$button-color-5: #B13840;
$button-color-6: #72553b;