footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $footer-color;
    padding: 50px 50px 0px 50px;
    height: fit-content;
}

.footer-infos{
    width: 85%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 20px;
    padding: 10px;
        &__item{
            &__heading{
                font-size: 24px;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 20px;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 0;
                        height: 1px;
                        width: 95%;
                        background-color: $footer-color-2;
                    }
            }

            &__div{
                display: flex;
                align-items: center;
            }

            &__AboutUs-icon{
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }

}

.footer-copyright{
    height: 50px;
    width: 100vw;
    border-top: 1px solid $footer-color-2;
    padding-top: 15px;
        p{
            text-align: center;
        }
}