header{
    background-color: $pure-black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 60%;
    position: absolute;
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 14px;
                &__item{
                    list-style-type: none;
                }

                &__link{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $pure-white;
                    padding: 10px 0;
                        &:hover{
                            color: $color-primary;
                        }

                        &--active{
                            color: $color-primary;
                        }
                }
        }

        .logo{

                img{
                    height: 150px;
                    background-color: $color-primary;
                    border-radius: 0px 0px 25px 25px;
                    margin-top: 34px;
                }
        }

        &__change-language{
            position: absolute;
            right: 2%;
            top: 30px;
            color: $pure-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            font-style: italic;
                a{
                    color: $pure-white;
                    text-decoration: none;
                    font-size: 18px;
                    position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 0;
                            height: 2px;
                            width: 0;
                            background-color: $color-primary;
                            transition: 0.3s;
                        }

                        &:hover{
                            color: $color-primary;
                        }

                        &:hover::after{
                            width: 100%;
                        }
                }

                span{
                    pointer-events: none;
                }
        }
}
